
@import "locomotive-scroll/dist/locomotive-scroll.css";

@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body {
  background: #fff;
}

.wrapper {
  animation: scroll 100s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center top;
  color: #eee;
  width: 100%;
  min-height: 100vh;
  overflow: hidden; /* prevent background from leaking */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

@keyframes scroll {
  100% {
    background-position: 0 -400%;
  }
}


@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

.title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  animation: typeErase 10s steps(30, end) infinite; /* total cycle 10s */
}

/* Keyframes for typing + pause + erasing */
@keyframes typeErase {
  0%, 5% {
    width: 0;        /* start typing after 5% of total time */
  }
  30% {
    width: 100%;     /* fully typed at this point */
  }
  85%, 100% {
    width: 0;        /* erase back to start by 100% */
  }
}



@keyframes blink {
  0%, 50%, 100% { border-color: #eee; }
  25%, 75% { border-color: transparent; }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}





.act-box {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  will-change: transform, opacity;
}

